lsi: false
safe: true
title: Pacria Site
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

  theme: minima
  plugins: 
    -jekyll-feed

collections:
  tutorials:
    output: true
    permalink: /tutorials/
